<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anothertimdatxe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.CarBookingApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sprintlogin.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".sprinthome.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.updateinfo.UpdateInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.confirm.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.forgotpassword.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.updatepassword.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.updateprofile.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.postmore.PostCreatedMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.history.HistoryTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.revenue.RevenueDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.help.SupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".sprinthome.settings.settingsummary.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.settings.condition.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.settings.version.VersionUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintlogin.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprintsearch.driver.driversearch.DriverSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".sprinthome.hotcities.HotCitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.city_post.CityPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.listrequest.driver.detail.DriverRequestDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.profile.driver.driver_car.DriverCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.profile.driver.updateprofile.DriverUpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sprinthome.profile.driver.updatecar.UpdateDriverCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.map.mapparent.MapParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.map.mapsearch.MapSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.map.mapshow.MapShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".introduce.IntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.drivercreatepost.DriverCreatePostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sprinthome.listrequest.user.detail.UserRequestDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.usercreatepost.UserCreatePostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sprinthome.listpost.user.detail.UserPostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.book.user.UserBookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.book.user.confirm.UserConfirmBookingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sprinthome.settings.faqs.FaqsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_services_api_key" />

    </application>

</manifest>